OVN_CTL_OPTS=" \
     --db-nb-addr=<local> \
     --db-nb-create-insecure-remote=yes \
     --db-sb-addr=<local> \
     --db-sb-create-insecure-remote=yes \
     --db-nb-cluster-local-addr=<local> \
     --db-sb-cluster-local-addr=<local> \
     --ovn-northd-nb-db=tcp:<server_1>:6641,tcp:<server_2>:6641,tcp:<server_3>:6641 \
     --ovn-northd-sb-db=tcp:<server_1>:6642,tcp:<server_2>:6642,tcp:<server_3>:6642"
